/*
  border-radius: 16px;
  padding: 0.01em 16px;
  border-bottom: 1px solid #ccc !important;

  margin
  border
  padding
  content
*/

body, html {
  background-color: #343434; /* dark/grey */
  color: white;
}


.menu {
  background-color: #13879e; /* türkis */
  margin: 5px;
  border: 1px solid #129cb8;
}

.menu a {
  background-color: #13879e; /* türkis */
  padding: 10px;
  color: black;
}

.menu a:link, .menu a:visited {
  text-decoration: none;
  color: black;
}

.menu a:hover {
  background-color: #129cb8; /* türkis (little bit lighter) */
  color: black;
  text-decoration: underline;
}

