/*
  border-radius: 16px;
  padding: 0.01em 16px;
  border-bottom: 1px solid #ccc !important;

  margin
  border
  padding
  content
*/

body, html {
  background-color: #343434; /* dark/grey */
  color: white;
  margin: 5px;
}


.menu {
  background-color: #13879e; /* türkis */
  margin: 1px;
  padding: 5px;
  border: 3px solid #129cb8;
}

.menu nav {
  padding: 5px;
}

.menu a {
  background-color: #13879e; /* türkis */
  padding: 2px 5px;
  color: black;
  transition: 0.3s;
  border-radius: 10px;
  white-space: nowrap;
}

.menu a:link, .menu a:visited {
  text-decoration: none;
  color: black;
}

.menu a:hover, .menu a.active {
  background-color: #129cb8; /* türkis (little bit lighter) */
  color: black;
  text-decoration: none;
}


h1 {
  text-align: center;
}

.group {
  border-left: 4px solid #454545 !important;
}
